@model IEnumerable<Sale>

<div class="container mt-4">
    <h2 class="text-center mb-4">İşlem Kaydı</h2>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Ürün</th>
                <th>Miktar</th>
                <th>Toplam Fiyat</th>
                <th>Satış Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model)
            {
                @foreach (var saleItem in sale.SaleItems)
                {
                    <tr>
                        <td>@saleItem.Product.ProductName</td>
                        <td>@saleItem.Quantity</td>
                        <td>@saleItem.TotalPrice.ToString("C")</td>
                        <td>@sale.SaleDate.ToShortDateString()</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
